<section>
    <article class="m-5">
        <section>
            <h3>Nombre del pais: <b class="title">PERÚ</b></h3>
        </section>
        <section>
            <img width="300px"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Flag_of_Peru_%28state%29.svg/800px-Flag_of_Peru_%28state%29.svg.png"
                alt="">
        </section>
        <section class="description">
            <p>
                Perú, oficialmente la República del Perú,​ es un país soberano ubicado en el oeste de América del Sur.
                Perú tiene una población de alrededor de 34 millones de habitantes,​ y su capital y ciudad más grande
                es Lima.​ Con 1,29 millones de km²,2​ Perú es el decimonoveno país más grande del mundo y el tercero
                más grande de América del Sur. Adopta la forma de gobierno republicano, democrático,​ unitario,
                representativo,​ presidencialista y con separación de poderes.
            </p>
            <p>
                Su territorio se extiende por el océano Pacífico, bordeando su costa al oeste, limitando con Ecuador al
                noroeste, con Colombia al noreste, con Brasil al este, con Bolivia al sureste y con Chile al sur.​ Su
                territorio se compone de diversos paisajes: los valles, las mesetas y las altas cumbres de los Andes se
                despliegan al oeste en dirección a la costa desértica, desde el norte hasta el sureste del país y el
                este hacia la inmensa Amazonia. Es uno de los países con mayor diversidad biológica​ y mayores
                recursos minerales del planeta
            </p>
        </section>
    </article>
</section>