<section>
    <article class="m-5">
        <section>
            <h3>Nombre del pais: <b class="title">PERÚ</b></h3>
        </section>
        <section>
            <img width="300px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Flag_of_Chile.svg/1200px-Flag_of_Chile.svg.png" alt="">
        </section>
        <section>
            <p>
                Chile, oficialmente República de Chile,21​ es un país soberano ubicado en el extremo sur de América del
                Sur. Adopta la forma de gobierno republicana, democrática, unitaria y presidencialista.22​ Su capital es
                la ciudad de Santiago.
            </p>
            <p>
                Está constituido por tres zonas geográficas.4​ La primera de ellas, Chile continental, comprende una
                franja en la costa occidental del Cono Sur que se extiende entre los paralelos 17°29′57″ S y 56°32′12″
                S, mayormente desde la ribera sudoriental del océano Pacífico hasta las cumbres más altas divisorias de
                aguas de la cordillera de los Andes. Alcanza un largo de 4270 km,23​ un ancho máximo de 445 km en los
                52°21′ S y un mínimo de 90 km en los 31°37′ S.4​ Limita con Perú al norte, Bolivia al nordeste y
                Argentina al este, totalizando 7801 km de fronteras terrestres,5​n 3​ y el pasaje de Drake al sur. La
                segunda, Chile insular, corresponde a un conjunto de islas de origen volcánico en el océano Pacífico
                Sur: el archipiélago Juan Fernández y las islas Desventuradas, pertenecientes a Sudamérica, así como la
                isla Salas y Gómez y la isla de Pascua, ubicadas en Oceanía. La tercera, el Territorio Chileno
                Antártico, es una zona del continente antártico24​ de 1 250 257,6 km²25​ entre los meridianos 53° O y
                90° O24​ sobre la cual hay reclamaciones territoriales argentinas y británicas,26​ prolongándose hasta
                el polo sur, pero está supeditada a lo estipulado en el Tratado Antártico, del que es signataria.27​
                Debido a lo mencionado, se define como un país tricontinental.4​
            </p>
        </section>
    </article>
</section>