<section>
    <article class="m-5">
        <section>
            <h3>Nombre del pais: <b class="title">URUGUAY</b></h3>
        </section>
        <section>
            <img width="300px"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Uruguay.svg/1200px-Flag_of_Uruguay.svg.png"
                alt="">
        </section>
        <section class="description">
            <p>
                Uruguay, cuyo nombre oficial es República Oriental del Uruguay, es un país soberano de América del Sur,
                situado en la parte oriental del Cono Sur. Limita al noreste con Brasil —estado de Río Grande del Sur—,
                al oeste y suroeste con Argentina —provincias de Corrientes, Entre Ríos y Buenos Aires, y la Ciudad
                Autónoma de Buenos Aires (separada por el Río de la Plata)— y tiene costas en el océano Atlántico por el
                sur. Abarca 176 215 km² y es el segundo país más pequeño de Sudamérica, después de Surinam.2​ Según los
                datos del último censo del INE en 2011, la población de Uruguay es de 3 286 314 habitantes,8​ con lo que
                figura en la décima posición entre los doce países sudamericanos.
            </p>
        </section>
    </article>
</section>